{% extends 'blog/base.html' %}

{% block content %}
<div class="card shadow-sm mb-4">
  {% if news_item.image %}
  <img src="{{ news_item.image.url }}" class="card-img-top" alt="{{ news_item.title }}">
  {% endif %}
  <div class="card-body">
    <h2 class="card-title">{{ news_item.title }}</h2>
    <p class="card-text">{{ news_item.content }}</p>
    <p class="card-text">
      <small class="text-muted">Опубліковано {{ news_item.date_published|date:"d-m-y g:h" }} Автор {{ news_item.author }}</small>
    </p>
  </div>
</div>
{% endblock %}
